<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="ZeroMQSubscribePort" value="5560"/>
    <add key="ZeroMQJsonSubscribePort" value="5562"/>
    <add key="NumberOfZeroMQThreads" value="1"/>
  </appSettings>
</configuration>